<div class='container'>
	<div class='col-12'>
		<div class='row justify-content-center'>
			<div class='form col'>
				<button type='button' class='icon close'></button>
				<h2><span class='blue'>БЕСПЛАТНЫЙ ВИДЕОКУРС</span> <span>"КАК НАЧАТЬ ИНВЕСТИРОВАТЬ"</span></h2>
				<p>
					Вы узнаете, как создавать капитал, не ограничивая себя в привычных потребностях
				</p>
				<div class='row'>
					<div class='col-md-6'>
						<ol>
							<li>
								<h3>
									1) Как улучшить текущую финансовую ситуацию
								</h3>
								<ul class='dash'>
									<li>
										Что делать, если доход растет, а денег всегда не хватает?
									</li>
									<li>
										Как снизить расходы без потери качества жизни
									</li>
								</ul>
							</li>
							<li>
								<h3>
									2) Как начать откладывать деньги. 3 важные финансовые привычки.
								</h3>
							</li>
							<li>
								<h3>
									3) Как создать финансовый запас
								</h3>
							</li>
							<li>
								<h3>
									4) Активы - Пассивы. Анализ текущей ситуации.
								</h3>
								<ul class='dash'>
									<li>
										Как закрыть долги;
									</li>
									<li>
										Насколько эффективны мои текущие вложения;
									</li>
									<li>
										Идеальная структура инвестиций, личного капитала;
									</li>
								</ul>
							</li>
							<li>
								<h3>
									5) Как защитить капитал от растраты и форс мажоров. Виды финансовой защиты.
								</h3>
								<ul class='dash'>
									<li>
										Как создать гарантированный капитал, которому не страшны судебные иски, развод, раздел имущества и т.д.
									</li>
								</ul>
							</li>
							<li>
								<h3>
									6) Цели. Примеры расчета: личный капитал, финансовая свобода, рента, образование детям, покупка квартиры и т.д.
								</h3>
								<ul class='dash'>
									<li>
										Что выгоднее: снимать квартиру или брать ипотеку?
									</li>
								</ul>
							</li>
						</ol>
					</div>
					<div class='col-md-6'>
						<ol>
							<li>
								<h3>
									7) Инвестиции.
								</h3>
								<ul class='dash'>
									<li>
										4 секрета успешных инвестиций
									</li>
									<li>
										Куда вкладывать деньги? 3 способа инвестировать.
									</li>
									<li>
										Альтернативы депозитам: доходность 2,5-3,5% годовых в валюте
									</li>
									<li>
										Как получать доходность в 2-5 раз выше банковской в валюте
									</li>
									<li>
										Надежные инвестиции с доходностью 5-12% годовых в валюте.
									</li>
									<li>
										Инвестиции без риска с доходностью 4-7% годовых в валюте
									</li>
								</ul>
							</li>
						</ol>

						<div class='superbonus'>
							<span class='blue'>Супер бонус: </span>
							возможность личной консультации с финансовым советником.
						</div>
						<form action='send.php' method='post'>
							<input type='text' name='name' placeholder='Введите ваше имя' />
							<input type='email' name='email' placeholder='Введите ваш e-mail' required />
							<input type='hidden' name='src' value='Баннер сверху' />
							<em class='pdpa'>Я согласен с <a href='pdpa.html' class='link'>условиями обработки персональных данных</a></em>
							<button type='submit' class='btn btn-2'>Получить доступ!</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
