<div class='form container'>
	<button type='button' class='icon close'></button>
	<div class='content'>
		<h2>«Настоящим я даю согласие на обработку персональных данных»</h2>
		<p>Заполняя настоящую форму, в соответствии с требованиями <i>статьи 9 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных»</i>, я подтверждаю свое согласие на обработку вносимых в форму моих персональных данных, лицом оказывающим услуги на основании данной формы (далее Оператор), том числе:</p>
		<ul>
			<li>1) фамилию, имя, отчество;</li>
			<li>2) контактный номер телефона;</li>
			<li>3) адрес электронной почты;</li>
		</ul>
		<p>Предоставляю Оператору право осуществлять все действия (операции) с моими персональными данными, включая сбор, систематизацию, накопление, хранение, обновление, изменение, использование, обезличивание, блокирование, уничтожение.</p>
		<p>Целью обработки персональных данных является оказание мне услуг на основании заполненной формы.</p>
		<p>Оператор имеет право на обмен (прием и передачу) моими персональными данными с использованием машинных носителей или по каналам связи, с соблюдением мер, обеспечивающих их защиту от несанкционированного доступа.</p>
		<p>Настоящее согласие действует бессрочно, срок хранения моих персональных данных не ограничен.</p>
		<p>Оставляю за собой право отозвать свое согласие посредством составления соответствующего письменного документа, который может быть направлен мной в адрес Оператора по почте заказным письмом с уведомлением о вручении либо вручен лично под расписку представителю Оператора.</p>
		
		<button type='button' class='btn close'>Понятно</button>
	</div>
</div>
