@xl: (max-width: 1200px);
@lg: (max-width: 992px);
@md: (max-width: 768px);
@sm: (max-width: 576px);
@xs: (max-width: 400px);

@blue: #0068e3;
@bg: #13599f;
@grey: #434350;

@media @xl {
	// max-width: 1200px
}
@media @lg {
	// max-width: 992px
}
@media @md {
	// max-width: 768px
}
@media @sm {
	// max-width: 576px
}
@media @xs {
	// max-width: 400px
}

* {
	all: unset;
	-webkit-text-fill-color: currentColor;
	box-sizing: border-box;
	display: flex;
	flex: none;
	flex-direction: column;
	transition: .2s ease all;
}

::before,
::after {
	box-sizing: border-box;
}

html {
	font-size: 1px;
	
	@media @lg {
		font-size: .9px;
	}
	@media @md {
		font-size: .8px;
	}
	@media @sm {
		font-size: .7px;
	}
	@media @xs {
		font-size: .65px;
	}
}

head,
style,
script {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

a[href],
button,
[type='button'] {
	&:hover {
		cursor: pointer;
	}
}

p,
span {
	display: inline-block;
	text-overflow: ellipsis;
	flex-shrink: 1;
	// hyphens: auto;
}

main {
	flex-grow: 1;
}

.row {
	flex-direction: row;
	justify-content: space-between;
}

.default {
	all: unset;
	-webkit-text-fill-color: currentColor;
	font-family: "Nissan Brand";
	font-size: 22rem;
	font-weight: 400;
	line-height: 1.25;
	color: #343e46;
}

body {
	height: 100%;
	.default;
}

h2 {
	text-align: center;
	font-family: "Rodeo";
	font-size: 40rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 2em;
	letter-spacing: 1.2rem;
	// align-self: center;
}

h3 {
	text-align: center;
	font-family: "Nissan Brand";
	font-size: 29rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1em;
	letter-spacing: 0.2rem;
	// align-self: center;
}


h4 {
	font-family: "Nissan Brand";
	font-size: 21rem;
	font-weight: 700;
	text-transform: uppercase;
}

ul.dash {
	margin-bottom: 60rem;
	
	li {
		display: inline-block;
		margin-bottom: 1em;
		
		&::before {
			content: '— ';
		}
	}
}

ul.split {
	display: inline-block;
	columns: 2;
	
	@media @xl {
		columns: 1;
	}
	
	li {
		width: 100%;
	}
}

p {
	margin-bottom: 1em;
}

b {
	font-family: "Nissan Brand - Bold";
	font-weight: 700;
}

b,
i,
em,
a {
	display: inline;
}

i, em {
	font-style: italic;
	font-family: 'Nissan Brand - Light';
	margin-bottom: 1.25em;
}

.link {
	text-decoration: underline;
}

[class*='col-'] {
	margin-bottom: 2em;
	
	>h2, >h3 {
		text-align: left;
	}
}

blockquote {
	font-size: 25rem;
	line-height: 1.44;
	font-weight: bold;
	font-style: italic;
	color: #2c262a;
	letter-spacing: 0.5rem;
	margin-bottom: 35rem;
	
	&::before {
		content: '';
		background: url(../img/q.png) center center no-repeat;
		background-size: contain;
		width: 56rem;
		height: 40rem;
		margin-bottom: 40rem;
	}
	
	&.j::after {
		content: '';
		align-self: flex-end;
		background: url(../img/sign-joseph.png) center center no-repeat;
		background-size: contain;
		width: 186rem;
		height: 117rem;
		margin-top: 30rem;
		margin-bottom: 70rem;
	}
	
	&.i::after {
		content: '';
		align-self: flex-end;
		background: url(../img/sign.png) center center no-repeat;
		background-size: contain;
		width: 186rem;
		height: 117rem;
		margin-top: 30rem;
		margin-bottom: 70rem;
	}
	
	&.ji::after {
		content: '';
		align-self: flex-end;
		background: url(../img/sign-joseph.png) left center no-repeat, url(../img/sign.png) right center no-repeat;
		background-size: 50%, 50%;
		width: 372rem;
		height: 117rem;
		margin-top: 30rem;
		margin-bottom: 70rem;
	}
}

.ol {
	counter-reset: i;
	li::before {
		counter-increment: i;
		// content: counter(i);
	}
}

.video {
	position: relative;
	background: url(../img/video.png) top no-repeat ;
	background-size: contain;
	width: 100%;
	padding-bottom: 65.5%;
	overflow: hidden;
	filter: drop-shadow(-50px 150px 50px rgba(0,0,0,.2));
	
	> * {
		position: absolute;
		top: 6.5%;
		left: 8.7%;
		width: 84%;
		height: 81%;
	}
}

.btn {
	max-width: 378rem;
	width: 100%;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 25rem;
	border-radius: 10px;
	
	color: white;
	font-size: 20rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2rem;
	background-color: #b10028;
	background-image: linear-gradient(to top, #b10028, #f00030);
	box-shadow: 2px 2px 7px rgba(0, 0, 0, .35);
	
	&:hover {
		background-color: #f00030;
		background-image: linear-gradient(to top, #f00030, #b10028);
	}
}

.btn-2 {
	// .btn;
	background-color: #0867d7;
	background-image: linear-gradient(to top, #0867d7, #0575fa);
	align-self: center;
	
	&:hover {
		background-color: #0575fa;
		background-image: linear-gradient(to top, #0575fa, #0867d7);
		
	}
}

.blue {
	color: @blue;
}

.m-xl {
	@media @xl {
		display: none;
	}
}

.oldynameste {
	margin-bottom: 0;
	align-self: flex-end;
	align-items: flex-end;
	
	@media @xl {
		display: none;
	}
}

ul.disc {
	li {
		flex-direction: row;
		
		&::before {
			all: unset;
			-webkit-text-fill-color: currentColor;
			text-decoration: none;
			content: '•';
			color: #4591da;
			padding-right: 14rem;
		}
	}
}

body > header {
	padding-top: 50rem;
	
	@media @xs {
		padding-top: 25rem;
	}
	
	.header {
		justify-content: space-between;
		
		> * {
			margin-bottom: 45rem;
			
			@media @xs {
				margin-bottom: 25rem;
			}
		}
	}
	
	nav {
		
		ul {
			flex-direction: row;
			font-family: "Nissan Brand";
			font-size: 22rem;
			font-weight: 400;
			flex-wrap: wrap;
			
			li {
				position: relative;
				display: flex;
				flex-direction: row;
				margin-bottom: 20rem;
				
				.expand {
					position: absolute;
					display: none;
					
					flex-direction: column;
					background-color: #fff;
					padding: 15px;
					top: 100%;
					z-index: 1;
					white-space: nowrap;
					
					li {
						&::after {
							display: none;
						}
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				
				&:hover {
					> a {
						.blue;
					}
					
					.expand {
						display: flex;
					}
				}
				
				&:not(:last-child)::after {
					content: '•';
					color: #4591da;
					padding-right: 14rem;
					padding-left: 14rem;
				}
			}
		}
		
		.link {
			color: #1775d1;
		}
	}
	
	.cell {
		.number {
			color: @blue;
			font-size: 30rem;
			font-weight: 700;
		}
	}
}

section.top {
	padding-top: 60rem;
	color: white;
	background-color: @bg;
	background-image: url(../img/top.png);
	background-size: cover;
	
	ul.dash {
		margin-bottom: 15rem;
		
		li {
			margin-bottom: 20rem;
		}
	}
	
	&.grey {
		background-color: @grey;
		background-image: url(../img/top-grey.png);
		
		@media @xl {
			padding-left: 0rem;
		}

		.block {
			padding-left: 75rem;
		}
		
		h3 {
			max-width: 380rem;
			margin-bottom: 30rem;
		}
		
		p {
			font-size: 23rem;
		}
	}
	
	[class*='col-'] {
		margin-bottom: 0;
	}
	
	h2 {
		margin-bottom: 1em;
	}
	
	.btn {
		margin-bottom: 2em;
	}
	
	p {
		font-size: 24rem;
		line-height: 1.5;
	}
	
	.link {
		margin-bottom: 50rem;
	}
	
	.oldynameste {
		margin-top: -90rem;
	}
	
	input::placeholder {
		color: white;
	}
}

.block {
	h3 {
		font-family: "Rodeo";
		font-size: 40rem;
		font-weight: 700;
		text-transform: none;
		margin-bottom: 2em;
		letter-spacing: 1.2rem;
		margin-bottom: 23rem;
	}
	
	form {
		input {
			max-width: 380rem;
			padding-top: 20rem;
			padding-bottom: 20rem;
			border-bottom: 1px solid currentColor;
			letter-spacing: 3px;
			
			&::placeholder {
				all: unset;
				-webkit-text-fill-color: currentColor;
				font-family: "Nissan Brand";
				font-size: 19rem;
			}
		}
		
		button {
			margin-bottom: 25rem;
		}
	}
}

section.inDigits {
	padding-top: 90rem;
	padding-bottom: 50rem;
	
	b {
		color: @blue;
		font-family: Rodeo;
		font-size: 50rem;
		margin-bottom: 30rem;
	}
}

section.edu {
	padding-top: 90rem;
	
	h2 {
		font-size: 40rem;
	}
	
	.collage {
		position: relative;
		background-color: #fff;
		border: 10px solid white;
		align-items: flex-end;
		align-self: center;
		
		> * {
			z-index: 0;
		}
		
		&:hover {
			filter: drop-shadow(-10px 10px 10px rgba(0,0,0,.4));
			
			.video-c {
				padding: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
		}
		
		.video-c {
			position: absolute;
			width: 64.16%;
			// padding-bottom: 55%;
			// width: 63%;
			padding-bottom: 45%;
			left: 0px;
			bottom: 0;
			// height: 0;
			background: url(../img/edu-left.png) left bottom no-repeat;
			// z-index: -1;
			transition: .2s padding, .2s height, .2s width;
			
			@media @md {
				padding: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
			
			> * {
				position: absolute;
				// top:0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				// width: 84%;
				// height: 81%;
			}
		}
	}
	
	li {
		margin-bottom: .5em;
	}
}

.teachers {
	.item {
		flex-direction: row;
		align-items: center;
		padding-bottom: 60rem;
		
		img {
			width: 190rem;
			height: 178rem;
			
			@media @sm {
				max-width: 95px;
				max-height: 89px;
			}
			
			&:hover {
				transform: scale(1.2);
			}
		}
		
		.description {
			padding: 30rem 20rem 20rem 30rem;
			background-color: #ecf1f5;
			font-size: 18rem;
			flex: 1 1 auto;
			
			p {
				margin-bottom: 0;
				max-width: 100%;
			}
		}
	}
}

section.why {
	padding-top: 85rem;
	position: relative;
	background-color: @bg;
	color: white;
	overflow: hidden;
	
	&.grey {
		background-color: @grey;
		
		&::before {
			background-color: #4b4b57;
		}
	}
	
	h2 {
		font-family: "Nissan Brand";
		font-size: 33rem;
		letter-spacing: 1.5rem;
	}
	
	&::before {
		position: absolute;
		top: -340rem;
		left: 800rem;
		content: '';
		width: 832rem;
		height: 832rem;
		background-color: #137af4;
		border-radius: 50%;
		opacity: 0.35;
	}
	
	ol {
		counter-reset: i;
		font-family: "Nissan Brand";
		font-size: 20rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 80rem;
		letter-spacing: 1rem;
		// overflow: hidden;
		
		.preload:nth-child(1) {
			opacity: 0;
			transform: translate(-50%);
		}
		
		.preload:nth-child(2) {
			opacity: 0;
			transform: translate(-150%);
		}
		
		.preload:nth-child(3) {
			opacity: 0;
			transform: translate(-250%);
		}
		
		li {
			position: relative;
			flex-direction: row;
			align-items: center;
			margin-bottom: 80rem;
			
			&::before {
				counter-increment: i;
				content: '0' counter(i);
				position: absolute;
				align-self: center;
				left: 50%;
				transform: translate(-25%);
				color: #eeeded;
				opacity: 0.08;
				font-family: "Nissan Brand";
				font-size: 120rem;
				font-weight: 700;
			}
			
			&:not(:last-child)::after {
				position: absolute;
				content: '';
				width: 23px;
				height: 18px;
				background: svg-load('../img/arrow.svg');
				right: 35px;
				align-self: center;
				
				@media @xl {
					transform: rotate(90deg);
				}
			}
		}
	}
}

section.for {
	padding-top: 80rem;
	padding-bottom: 95rem;
}

section.features {
	padding-top: 100rem;
	padding-bottom: 120rem;
	background-color: #f1f1f3;

	h2 {
		font-family: "Nissan Brand";
		font-size: 35rem;
	}
	
	.block {
		margin-bottom: 150rem;
	}
	
	ul {
		justify-content: flex-start;
		margin-left: 7.5rem;
		margin-right: 7.5rem;
		
		li {
			color: @blue;
			padding-left: 7.5rem;
			padding-right: 7.5rem;
			margin-bottom: 15rem;
			
			&:last-child .item {
				text-decoration: underline;
			}
		}
	}
	
	.blue.item {
		color: white;
		background-color: #095aba;
	}
	
	.item {
		height: 100%;
		padding: 25rem;
		padding-bottom: 40rem;
		box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.18);
		background-color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		justify-content: space-between;
		
		img {
			align-self: center;
			margin-bottom: 30rem;
		}
		
		&:hover {
			box-shadow: 4px 5px 9px 8px rgba(0, 0, 0, 0.18);
			transform: scale(1.05);
			z-index: 1;
		}
	}
}

section.topics {
	padding-top: 70rem;
	padding-bottom: 100rem;
	
	ol.topics {
		// .ol;
		.h {
			margin-bottom: 15rem;
		}
		
		> li {
			margin-bottom: 70rem;
			font-size: 26rem;
			
			ol {
				.default;
				.ol;
				
				> li {
					flex-direction: row;
					
					&::before {
						// content: counter(i) '.\00a0';
						content: counter(i) '.';
						padding-right: 10px;
					}
				}
			}
		}
	}
	
	h3 {
		color: @blue;
		text-align: left;
	}
	
	.link {
		color: @blue;
	}
}

section.pricelist {
	position: relative;
	padding-top: 65rem;
	color: white;
	// padding-bottom: 100rem;
	padding-bottom: 55rem;
	
	&::before {
		content: '';
		position: absolute;
		height: 420px;
		top: 0;
		width: 100%;
		background-color: @blue;
		// ????????????????????????????
		z-index: -1;
	}
	
	.package {
		padding: 30rem;
		padding-bottom: 60rem;
		// align-items: center;
		text-align: center;
		color: #434350;
		box-shadow: 15px 16px 26px 3px rgba(0, 0, 0, 0.28);
		background-color: #ffffff;
		
		&:hover {
			box-shadow: 15px 16px 26px 30px rgba(0, 0, 0, 0.28);
			transform: scale(1.05);
			z-index: 1;
		}
		
		.price {
			color: @blue;
			font-size: 50rem;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 35rem;
		}
		
		ul {
			// display: block;
			background-color: inherit;
			text-align: left;
			
			*,
			::before,
			::after {
				background-color: inherit;
			}
		}
		
		li {
			display: inline-block;
			// background: inherit;
			// display: flex;
			// flex-direction: row;
			margin-bottom: 35rem;
			// justify-content: space-between;
			position: relative;
			// width: 100%;
			// vertical-align: baseline;
			padding-right: 20px;
			
			span {
				// background: inherit;
				display: inline;
				position: relative;
				// display: flex;
				// flex-direction: row;
				// justify-content: space-between;
				padding-right: 4px;
				// margin-right: 16px;
				// z-index: 1;
			}
			
			&::after {
				content: '';
				position: absolute;
				right: 0;
				// height: 1em;
				width: 20px;
				height: 20px;
				bottom: 6px;
				// order: 1;
				// flex-shrink: 0;
				// align-self: flex-end;
				background: url('../img/check.png') center center no-repeat;
				background-color: inherit;
				// z-index: 1;
			}
			
			&::before {
				position: absolute;
				bottom: 6px;
				// left: 5px;
				// right: 5px;
				content: '';
				display: inline;
				width: 100%;
				height: 1em;
				// margin: 0 .2em;
				border-bottom: 2px dotted black;
			}
		}
		
		.room {
			color: @blue;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 35rem;
		}
		
		.btn {
			align-self: center;
		}
	}
}

section.more {
	padding-bottom: 50rem;
	
	b {
		color: #343e46;
		font-family: Rodeo;
		font-size: 66rem;
		font-weight: 700;
		transition-duration: .4s;
	}
	
	.collage {
		[class*='col-'] {
			margin: 0;
		}
		
		.row {
			justify-content: center;
			flex-wrap: wrap;
		}
		
		.item {
			position: relative;
			align-self: center;
			overflow: hidden;
			margin-bottom: 30rem;
			
			.text {
				position: absolute;
				top: 100%;
				right: 15px;
				// bottom: 15px;
				left: 15px;
				padding: 20rem 30rem;
				justify-content: flex-end;
				color: white;
				font-size: 20rem;
				text-transform: uppercase;
				background-color: rgba(#0068e3, 0.5);
			}
			&:hover .text{
				top: 15px;
				bottom: 15px;
			}
		}
	}
}

section.teachers {
	margin-bottom: 65rem;
	
	:checked + label {
		.description {
			background-color: #0068e3;
			color: white;
		}
	}
	
	.b-video {
		align-self: center;
		align-items: flex-end;
		@media (min-width: 1200px) {
			margin-left: -90px;
		}
		
		.video {
			margin-bottom: 35rem;

			
		}
		
		.link {
			margin-right: 35rem;
		}
	}
	
	.slider-wrapper {
		width: 100%;
		overflow: hidden;
		
		.slider {
			flex-direction: row;
			flex-wrap: nowrap;
			flex-shrink: 0;
			transition: .3s ease all;
		}
	}
	
	#i:checked {
		~ .radio .i {
			background-color: #0000ff;
		}
		
		~ .slider-wrapper {
			.slider {
				transform: translate(-100%);

				.j {
					height: 0px;
				}
			}
		}
	}
	
	#j:checked {
		~ .radio .j {
			background-color: #0000ff;
		}
		
		~ .slider-wrapper {
			.slider {
				transform: none;
				
				.i {
					height: 0px;
				}
			}
		}
	}
	
	.bio {
		position: relative;
		margin-bottom: 12rem;

		.penis {
			max-width: 505rem;

			p {
				line-height: 1.29;
				letter-spacing: 0.14px;
				margin-bottom: 30rem;
			}

			.btn {
				margin-top: 15rem;
			}
			
		}
		
		h2 {
			font-size: 33rem;
			font-weight: normal;
			letter-spacing: 0.2rem;
			margin-bottom: 1.2em;
			text-transform: none;
		}
		
		figure {
			img {
				align-self: flex-start;
				// width: 100%;
				margin-bottom: 30rem;
			}

			p {
				margin-bottom: 5rem;
			}

			b {
				text-transform: uppercase;
			}
			
			@media @xl {
				order: -1;
			}
		}
		
		.btn {
			align-self: flex-start;
		}
		
		&::before {
			content: '';
			position: absolute;
			width: 115%;
			height: 100%;
			left: 50%;
			transform: translate(-50%);
			background: url(../img/map.png) top center no-repeat;
			background-size: contain;
			z-index: -1;
			
			@media @xl {
				width: 100%;
			}
		}
	}
	
	.b {
		margin-bottom: 30rem;
	}
	
	blockquote {
		&::before {
			display: none;
		}
		&::after {
			align-self: flex-start;
		}
	}
}

.radio {
	flex-direction: row;
	justify-content: center;
	margin-bottom: 60rem;
	label {
		margin: 4px;
		width: 12px;
		height: 12px;
		border: 2px solid #0000ff;
		border-radius: 50%;
	}
}

.popup {
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	justify-content: center;
	background-color: rgba(0, 0, 0, .2);
	opacity: 0;
	z-index: -1;
	tabindex: -1;

	&.banner {
		height: auto;
		padding: 7px;
		padding-right: 60rem;
		background-color: #ce002c;
		transition: none;

		p {
			color: white;
			font-size: 16rem;
			margin: 0;
		}
		
		a[href='howtoinvest.html'] {
			background: white;
			font-size: 16rem;
			padding: 5rem 10rem;
			border-radius: 5px;
			text-decoration: none;
			margin: 0;
			text-align: center;
		}
		
		button.close {
			color: white;
			text-decoration: none;
			font-size: 20rem;
			position: absolute;
			right: 20rem;
			height: 1em;
			width: 1em;
			margin-top: auto;
			margin-bottom: auto;
			align-self: center;
		}

		&_top {
			position: sticky;
			top: 0;

			.row {
				flex-wrap: nowrap;
	
				> * {
					flex-shrink: 1;
				}
			}
		}

		&_bottom {
			flex-direction: row;
			position: fixed;
			top: auto;
			bottom: 0;
			right: 0;
			padding: 10px;
			width: 340px;
			height: auto;

			> .img {
				height: 100rem;
				width: 100rem;
				margin-right: 10rem;
			}

			> .text {
				margin-right: 15rem;
				flex-shrink: 1;

				p {
					margin-bottom: 10px;
				}
			}
			
			@media @sm {
				display: none;
			}

			button.close {
				top: 10px;
				right: 10px;
			}
		}
	}
	
	&.active {
		opacity: 1;
		z-index: 3;
	}
	
	.form {
		max-height: 90vh;
		overflow-y: auto;
		border-radius: 5px;
		box-shadow: 15px 16px 26px 3px rgba(0, 0, 0, 0.28);
		
		padding-top: 50rem;
		padding-bottom: 25rem;
		> :last-child {
			padding-bottom: 25rem;
		}
		
		// @media @md {
		// 	padding-top: 50rem;
		// 	padding-bottom: 50rem;
		// }
		
		// @media @sm {
		// 	padding-top: 25rem;
		// 	padding-bottom: 25rem;
		// }
	}
	
	.icon.close {
		position: absolute;
		right: 25rem;
		top: 25rem;
		width: 15rem;
		height: 15rem;
		opacity: .5;
		// transform: translate(100%, -100%);
		
		&:hover {
			opacity: 1;
		}
		
		&:before,
		&:after {
			position: absolute;
			content: ' ';
			height: 2px;
			width: 20rem;
			background-color: #9b9b9b;
		}
		&:before {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%) rotate(-45deg);
		}
	}
}

.form {
	flex-basis: auto;
	position: relative;
	// align-items: center;
	align-self: center;
	background-color: white;
	margin: 0;
	
	form {
		margin:0;
	}
	
	h2 {
		font-size: 1.5em;
		margin-bottom:  1em;
	}
	
	.btn {
		align-self: center;
	}
	
	label {
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom: 30rem;
		}
		
		span {
			// font-size: 14rem;
			color: rgb(127, 143, 164);
			margin-bottom: 5px;
		}
	}
	
	input,
	select {
		padding: 15px;
		font-size: 16rem;
		border: 1px solid #dfe3e9;
		border-radius: 4px;
		
		&:hover {
			border-color: @blue;
		}
	}
}

.pdpa	{
	position: relative;
	font-family: "Nissan Brand";
	font-size: 15rem;
	font-weight: 400;
	font-style: normal;
	line-height: 1.27;
	letter-spacing: 1.33px;
	padding-left: 25px;
	opacity: .67;
	
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 17px;
		height: 17px;
		background-image: url(../img/agree.png);
	}
	
	i {
		text-decoration: underline;
	}
}

#pdpa {
	font-size: 20rem;
}

section.plan {
	.block {
		padding: 30rem 75rem 40rem;
		font-family: "Nissan Brand";
		font-size: 14px;
		box-shadow: 29px 19px 27px rgba(2, 2, 2, 0.08);
		background-color: #ffffff;
		margin-top: -50px;
		margin-bottom: 85rem;
		z-index: 1;
		
		@media @xl {
			margin-top: 0;
			padding: 30rem 15rem;
		}
		
		header {
			justify-content: flex-start;
			
			.item:first-child {
				margin-right: 50rem;
				
				@media @sm {
					margin-right: 0;
				}
			}
		}
		
		span {
			letter-spacing: 0.72rem;
		}
		
		.btn {
			box-shadow: 9px 14px 16px rgba(2, 2, 2, 0.29);
			margin-top: 20rem;
			margin-bottom: 45rem;
		}
		
		b {
			letter-spacing: 1.51rem;
			font-family: "Nissan Brand";
			font-size: 30rem;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	
	ol {
		counter-reset: i;
		padding: 0 65rem;
		font-size: 35rem;
		font-weight: 700;
		line-height: 40px;
		
		@media @xl {
			padding: 0 15rem;
		}
		
		li {
			// display: inline-block;
			padding-top: 40rem;
			
			.link {
				display: block;
				font-size: 16rem;
				text-transform: uppercase;
				opacity: 0.5;
				text-decoration: underline;
				
				&:hover {
					opacity: 1;
				}
			}
			
			.b {
				position: relative;
				font-family: Rodeo;
				font-size: 35rem;
				text-decoration: underline;
				margin-bottom: 42rem;
				
				&:hover {
					color: @blue;
				}
				
				&::before {
					display: block;
					counter-increment: i;
					content: '0' counter(i);
					position: absolute;
					top: -60rem;
					right: 0;
					opacity: .55;
					color: #eeeded;
					font-family: "Nissan Brand";
					font-size: 120rem;
					line-height: 1;
					font-weight: 700;
					z-index: -1;
				}
			}
		}
	}
}

section.contacts {
	padding-top: 85rem;
	
	.block {
		p {
			font-size: 23rem;
			letter-spacing: .14rem;
		}
		
		margin-bottom: 0;
	}
	
	form {
		margin-bottom: 66rem;
	}
}

.socials {
	flex-direction: row;
	// justify-content: space-between;
	
	li {
		width: 55rem;
		height: 55rem;
		padding: 10rem;
		border-radius: 10rem;
		background-color: @bg;
		margin-right: 15rem;
		margin-bottom: 30rem;
	}
	
	.icon {
		width: 100%;
		height: 100%;
		background: center center no-repeat;
		
		&.skype {
			background-image: svg-load('../img/i-skype.svg');
		}
		&.mailru {
			background-image: svg-load('../img/i-mailru.svg');
		}
		&.youtube {
			background-image: svg-load('../img/i-youtube.svg');
		}
		&.vk {
			background-image: svg-load('../img/i-vk.svg');
		}
		&.fb {
			background-image: svg-load('../img/i-fb.svg');
		}
		&.instagram {
			background-image: svg-load('../img/i-instagram.svg');
		}
	}
}

body > footer {
	color: white;
	// font-weight: 300;
	font-size: 16rem;
	letter-spacing: 0.48px;
	padding-top: 35rem;
	padding-bottom: 40rem;
	background-color: @bg;

	@media (min-width: 1200px) {
		[class*='col-'] {
			margin-bottom: 0;
		}
	}
	
	h3 {
		font-weight: 400;
		text-transform: none;
	}

	nav {
		li:first-child {
			line-height: 26rem;
		}
	}
	
	li {
		align-items: flex-start;
		// margin-bottom: .75em;
		margin-bottom: 12rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.services {
		h3 {
			font-size: 21rem;
			margin-bottom: 12rem;
		}
		
		ul li::before {
			color: currentColor;
			padding-right: 5px;
		}
		
		a {
			text-decoration: underline;
		}
	}
	
	.blog {
		[class*='col-'] {
			margin-bottom: 0;
		}
		
		h3 {
			font-size: 19rem;
			text-decoration: underline;
			margin-bottom: 25rem;
		}

		a:not(:last-child) article {
			margin-bottom: 27rem;
		}
	}

	.cell {
		.number {
			font-size: 22rem;
			letter-spacing: 0.12px;
			margin-bottom: 17rem;
			
			b {
				font-family: "Nissan Brand - Bold";
				// font-size: 26rem;
				font-weight: 700;
				letter-spacing: 0.14px;
			}
		}
		
		.link {
			letter-spacing: 0.48px;
		}
	}
	
	.copy {
		color: #dddddd;
		
		.madeby {
			display: inline-block;
			color: #7694b3;
			font-size: 15rem;
			
			.by {
				text-decoration: underline;
			}
		}
	}
}

li.fadeIn.preload {
	opacity: 0;
}

.zoomIn.preload {
	opacity: 0;
	transform: scale3d(0.3, 0.3, 0.3);
}

#howtoinvest_popup {
	font-size: 16rem;
	
	h2 {
		display: block;
		font-size: 24rem;
		margin-bottom: .5em;
	}
	
	p {
		text-align: center;
	}

	h3 {
		font-size: 1em;
		text-align: left;
		font-weight: bold;
		font-family: Arial;
		text-transform: none;
		margin-bottom: 10px;
		text-decoration: underline;
	}

	ul, ol, li {
		margin: 0;
	}

	ol > li {
		margin-bottom: 20rem;
	}

	.superbonus {
		display: block;
		margin-bottom: 20rem;
		
		.blue {
			font-weight: bold;
		}
	}

	input {
		margin-bottom: 10px;
	}
	
	[class*="col-"] {
		margin-bottom: 0;
	}

}
