@font-face {
	font-family: 'Nissan Brand';
	src: url('../fonts/NissanBrand-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Nissan Brand';
	font-weight: 700;
	src: url('../fonts/NissanBrand-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Nissan Brand - Bold';
	font-weight: 700;
	src: url('../fonts/NissanBrand-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Nissan Brand - Light';
	src: url('../fonts/NissanBrand-Light.ttf') format('truetype');
}

@xl: ~'(max-width: 1200px)';
@lg: ~'(max-width: 992px)';
@md: ~'(max-width: 768px)';
@sm: ~'(max-width: 576px)';

@blue: #0068e3;
@bg: #13599f;

@media @xl {
	// max-width: 1200px
}
@media @lg {
	// max-width: 992px
}
@media @md {
	// max-width: 768px
}
@media @sm {
	// max-width: 576px
}

* {
	all: unset;
	box-sizing: border-box;
	display: flex;
	flex: none;
	flex-direction: column;
	transition: .2s ease all;
}

::before,
::after {
	box-sizing: border-box;
}

head,
script {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	font-size: 1px;
	
	@media @lg {
		font-size: .9px;
	}
	@media @md {
		font-size: .8px;
	}
	@media @sm {
		font-size: .7px;
	}
}

a[href],
button,
[type='button'] {
	&:hover {
		cursor: pointer;
	}
}

p,
span {
	display: inline-block;
	text-overflow: ellipsis;
	flex-shrink: 1;
	// hyphens: auto;
}

main {
	flex-grow: 1;
}

.row {
	flex-direction: row;
}

.default {
	font-family: "Nissan Brand";
	font-size: 22rem;
	font-weight: 400;
	line-height: 1.25;
	color: #343e46;
}

body {
	height: 100%;
	.default;
}

h2 {
	text-align: center;
	font-family: "Nissan Brand";
	font-size: 34rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 2em;
	// align-self: center;
}

h3 {
	text-align: center;
	color: #343e46;
	font-family: "Nissan Brand";
	font-size: 29rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1em;
	// align-self: center;
}

p {
	margin-bottom: 1em;
}

b {
	font-family: "Nissan Brand - Bold";
	font-weight: 700;
}

b,
i,
em,
a {
	display: inline;
}

i, em {
	font-style: italic;
	font-family: 'Nissan Brand - Light';
	margin-bottom: 1.25em;
}

.link {
	text-decoration: underline;
}

[class*='col-'] {
	margin-bottom: 2em;
	
	>h2, >h3 {
		text-align: left;
	}
}

blockquote {
	font-family: "Nissan Brand";
	font-size: 25rem;
	font-weight: bold;
	font-style: italic;
	color: #2c262a;
	margin-bottom: 35rem;
	
	&::before {
		content: '';
		background: url(../img/q.png) center center no-repeat;
		background-size: contain;
		width: 56rem;
		height: 40rem;
		margin-bottom: 40rem;
	}

	&.j::after {
		content: '';
		align-self: flex-end;
		background: url(../img/sign-joseph.png) center center no-repeat;
		background-size: contain;
		width: 186rem;
		height: 117rem;
		margin-top: 30rem;
		margin-bottom: 70rem;
	}
	
	&.i::after {
		content: '';
		align-self: flex-end;
		background: url(../img/sign.png) center center no-repeat;
		background-size: contain;
		width: 186rem;
		height: 117rem;
		margin-top: 30rem;
		margin-bottom: 70rem;
	}

	&.ji::after {
		content: '';
		align-self: flex-end;
		background: url(../img/sign-joseph.png) left center no-repeat, url(../img/sign.png) right center no-repeat;
		background-size: 50%, 50%;
		width: 372rem;
		height: 117rem;
		margin-top: 30rem;
		margin-bottom: 70rem;
	}
}

.ol {
	counter-reset: i;
	li::before {
		counter-increment: i;
		// content: counter(i);
	}
}

.video {
	position: relative;
	background: url(../img/video.png) top no-repeat ;
	background-size: contain;
	width: 100%;
	padding-bottom: 65.5%;
	overflow: hidden;
	
	> * {
		position: absolute;
		top: 6.5%;
		left: 8.7%;
		width: 84%;
		height: 81%;
	}
}



.btn {
	max-width: 390rem;
	width: 100%;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 25rem;
	border-radius: 10px;
	
	color: white;
	font-size: 20rem;
	font-weight: 700;
	text-transform: uppercase;
	background-image: linear-gradient(to top, #b10028, #f00030);
	box-shadow: 2px 2px 7px rgba(0, 0, 0, .35);
	
	&:hover {
		background-image: linear-gradient(to top, #f00030, #b10028);
	}
}

.m-xl {
	@media @xl {
		display: none;
	}
}

body > header {
	padding-top: 50rem;
	
	.header {
		justify-content: space-between;
		
		> * {
			margin-bottom: 45rem;
		}
	}
	
	nav {
		.blue {
			color: @blue;
		}
		
		ul {
			flex-direction: row;
			font-family: "Nissan Brand";
			font-size: 22rem;
			font-weight: 400;
			flex-wrap: wrap;
			
			li {
				position: relative;
				display: flex;
				flex-direction: row;
				margin-bottom: 20rem;
				
				.expand {
					position: absolute;
					display: none;
					
					flex-direction: column;
					background-color: #fff;
					padding: 15px;
					top: 100%;
					z-index: 1;
					white-space: nowrap;
					
					li {
						&::before {
							content: '•';
							display: inline;
							color: #4591da;
							padding-right: 14rem;
						}
						&::after {
							display: none;
						}
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				
				&:hover {
					> a {
						.blue;
					}
					
					.expand {
						display: flex;
					}
				}
				&:not(:last-child)::after {
					content: '•';
					color: #4591da;
					padding-right: 14rem;
					padding-left: 14rem;
				}
			}
		}
		
		.link {
			color: #1775d1;
		}
	}
	
	.cell {
		.number {
			color: @blue;
			font-size: 30px;
			font-weight: 700;
		}
		.recall {
			color: #343e46;
			text-decoration: underline;
		}
	}
}

section.top {
	padding-top: 60rem;
	// padding-bottom: 2em;
	color: white;
	
	background-color: @bg;
	background-image: url(../img/top.png);
	background-size: cover;
	
	h2 {
		margin-bottom: 1em;
	}
	
	.btn {
		margin-bottom: 2em;
	}
	
	p {
		font-size: 24rem;
		line-height: 1.5;
	}
	
	.link {
		margin-bottom: 50rem;
	}
	
	.oldynameste {
		margin-top: -90rem;
		margin-bottom: 0;
		align-items: flex-end;
		
		img {
			width: 100%;
		}
		
		@media @xl {
			display: none;
		}
	}
}

section.edu {
	padding-top: 90rem;
	
	.collage {
		position: relative;
		background-color: #fff;
		border: 10px solid white;
		align-items: flex-end;
		align-self: center;
		
		> * {
			z-index: 0;
		}
		
		&:hover {
			filter: drop-shadow(-10px 10px 10px rgba(0,0,0,.4));
			
			.video-c {
				padding: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
		}
		
		.video-c {
			position: absolute;
			width: 64.16%;
			// padding-bottom: 55%;
			// width: 63%;
			padding-bottom: 45%;
			left: 0px;
			bottom: 0;
			// height: 0;
			background: url(../img/edu-left.png) left bottom no-repeat;
			// z-index: -1;
			transition: .2s padding, .2s height, .2s width;
			
			@media @md {
				padding: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
			
			> * {
				position: absolute;
				// top:0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				// width: 84%;
				// height: 81%;
			}
		}
	}
	
	li {
		margin-bottom: .5em;
	}
}

.teachers {
	.item {
		flex-direction: row;
		align-items: center;
		margin-bottom: 60rem;
		
		img {
			width: 190rem;
			height: 178rem;
			
			@media @sm {
				max-width: 95px;
				max-height: 89px;
			}
			
			&:hover {
				transform: scale(1.2);
			}
		}
		
		.description {
			padding: 30rem 20rem 20rem 30rem;
			background-color: #ecf1f5;
			font-size: 18rem;
			flex: 1 1 auto;
			
			p {
				margin-bottom: 0;
				max-width: 100%;
			}
		}
	}
}

h4 {
	font-family: "Nissan Brand";
	font-size: 21rem;
	font-weight: 700;
	text-transform: uppercase;
}

ul.dash {
	margin-bottom: 60rem;
	
	li {
		display: inline-block;
		margin-bottom: 1em;
		
		&::before {
			content: '— ';
		}
	}
}

section.why {
	padding-top: 85rem;
	position: relative;
	background-color: @bg;
	color: white;
	overflow: hidden;
	
	&::before {
		position: absolute;
		top: -340rem;
		left: 800rem;
		content: '';
		width: 800rem;
		height: 800rem;
		background-color: #137af4;
		border-radius: 50%;
		opacity: 0.35;
	}
	
	ol {
		counter-reset: i;
		font-family: "Nissan Brand";
		font-size: 20rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 80rem;
		// overflow: hidden;
		
		.preload:nth-child(1) {
			opacity: 0;
			transform: translate(-50%);
		}
		
		.preload:nth-child(2) {
			opacity: 0;
			transform: translate(-150%);
		}
		
		.preload:nth-child(3) {
			opacity: 0;
			transform: translate(-250%);
		}
		
		li {
			position: relative;
			flex-direction: row;
			align-items: center;
			margin-bottom: 80rem;
			
			&::before {
				counter-increment: i;
				content: '0' counter(i);
				position: absolute;
				align-self: center;
				left: 50%;
				transform: translate(-25%);
				color: #eeeded;
				opacity: 0.08;
				font-family: "Nissan Brand";
				font-size: 120rem;
				font-weight: 700;
			}
			
			&:not(:last-child)::after {
				position: absolute;
				content: '';
				width: 23px;
				height: 18px;
				background: svg-load('../img/arrow.svg');
				right: 35px;
				align-self: center;
				
				@media @xl {
					transform: rotate(90deg);
				}
			}
		}
	}
}

section.for {
	padding-top: 80rem;
	padding-bottom: 95rem;
}

.btn-2 {
	// .btn;
	background-image: linear-gradient(to top, rgba(#0867d7, 1), rgba(#0575fa, 1));
	align-self: center;
	
	&:hover {
		background-image: linear-gradient(to top, rgba(#0575fa, 1), rgba(#0867d7, 1));
		
	}
}

section.features {
	padding-top: 100rem;
	padding-bottom: 120rem;
	background-color: #f1f1f3;
	
	.block {
		margin-bottom: 150rem;
	}
	
	.video {
		// box-shadow: 0 100px 150px -50px black;
		filter: drop-shadow(-50px 150px 50px rgba(0,0,0,.2));
	}
	
	li {
		color: @blue;
		margin-bottom: 15rem;
		
		&:last-child .item {
			text-decoration: underline;
		}
	}
	
	.blue.item {
		color: white;
		background-color: #095aba;
	}
	
	.item {
		height: 100%;
		padding: 30rem;
		box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.18);
		background-color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		
		img {
			align-self: center;
			margin-bottom: 30rem;
		}
		
		&:hover {
			box-shadow: 4px 5px 9px 8px rgba(0, 0, 0, 0.18);
			transform: scale(1.05);
			z-index: 1;
		}
	}
}

section.topics {
	padding-top: 70rem;
	padding-bottom: 100rem;
	
	ol.topics {
		// .ol;
		> li {
			margin-bottom: 70rem;
			font-size: 26rem;
			
			ol {
				.default;
				.ol;
				
				> li {
					flex-direction: row;
					
					&::before {
						// content: counter(i) '.\00a0';
						content: counter(i) '.';
						padding-right: 10px;
					}
				}
			}
		}
	}
	
	h2 {
		color: @blue;
		text-align: left;
		margin-bottom: 1em;
	}
	
	.link {
		color: @blue;
	}
}

section.pricelist {
	position: relative;
	padding-top: 65rem;
	color: white;
	// padding-bottom: 100rem;
	padding-bottom: 55rem;
	
	&::before {
		content: '';
		position: absolute;
		height: 420px;
		top: 0;
		width: 100%;
		background-color: @blue;
		// ????????????????????????????
		z-index: -1;
	}
	
	.package {
		padding: 30rem;
		padding-bottom: 50rem;
		// align-items: center;
		text-align: center;
		color: #434350;
		box-shadow: 15px 16px 26px 3px rgba(0, 0, 0, 0.28);
		background-color: #ffffff;
		margin-bottom: 50rem;
		
		&:hover {
			box-shadow: 15px 16px 26px 30px rgba(0, 0, 0, 0.28);
			transform: scale(1.05);
			z-index: 1;
		}
		
		.price {
			color: @blue;
			font-size: 50rem;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 35rem;
		}
		
		ul {
			// display: block;
			background-color: inherit;
			text-align: left;
			
			*,
			::before,
			::after {
				background-color: inherit;
			}
		}
		
		li {
			display: inline-block;
			// background: inherit;
			// display: flex;
			// flex-direction: row;
			margin-bottom: 35rem;
			// justify-content: space-between;
			position: relative;
			// width: 100%;
			// vertical-align: baseline;
			padding-right: 20px;
			
			span {
				// background: inherit;
				display: inline;
				position: relative;
				// display: flex;
				// flex-direction: row;
				// justify-content: space-between;
				padding-right: 4px;
				// margin-right: 16px;
				// z-index: 1;
			}
			
			&::after {
				content: '';
				position: absolute;
				right: 0;
				// height: 1em;
				width: 20px;
				height: 20px;
				bottom: 6px;
				// order: 1;
				// flex-shrink: 0;
				// align-self: flex-end;
				background: url('../img/check.png') center center no-repeat;
				background-color: inherit;
				// z-index: 1;
			}
			
			&::before {
				position: absolute;
				bottom: 6px;
				// left: 5px;
				// right: 5px;
				content: '';
				display: inline;
				width: 100%;
				height: 1em;
				// margin: 0 .2em;
				border-bottom: 2px dotted black;
			}
		}
		
		.room {
			color: @blue;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 35rem;
		}
		
		.btn {
			align-self: center;
		}
	}
}

section.teachers {
	margin-bottom: 65rem;
	
	:checked + label {
		.description {
			background-color: #0068e3;
			color: white;
		}
	}
	
	.slider-wrapper {
		width: 100%;
		overflow: hidden;
		
		.slider {
			flex-direction: row;
			flex-wrap: nowrap;
			flex-shrink: 0;
			transition: .3s ease all;
		}
	}
	
	#i:checked {
		~ .radio .i {
			background-color: #0000ff;
		}
		
		~ .slider-wrapper {
			.slider {
				transform: translate(-100%);
			}
		}
	}
	
	#j:checked {
		~ .radio .j {
			background-color: #0000ff;
		}
		
		~ .slider-wrapper {
			.slider {
				transform: none;
			}
		}

		~ .col .recall {
			margin-top: -200px;
		}
	}
	
	.bio {
		position: relative;
		margin-bottom: 30rem;
		
		figure {
			margin-bottom: 60rem;
			
			img {
				align-self: flex-start;
				// width: 100%;
				margin-bottom: 50rem;
			}
			
			@media @xl {
				order: -1;
			}
		}
		
		&::before {
			content: '';
			position: absolute;
			width: 115%;
			height: 100%;
			left: 50%;
			transform: translate(-50%);
			background: url(../img/map.png) top center no-repeat;
			background-size: contain;
			z-index: -1;
			
			@media @xl {
				width: 100%;
			}
		}
	}
	
	.b {
		margin-bottom: 30rem;
	}
	
	blockquote {
		&::before {
			display: none;
		}
		&::after {
			align-self: flex-start;
		}
	}
	
	ul.dash {
		display: inline-block;
		columns: 2;
		
		@media @xl {
			columns: 1;
		}
		
		li {
			width: 100%;
		}
	}
}

.radio {
	flex-direction: row;
	justify-content: center;
	margin-bottom: 60rem;
	label {
		margin: 4px;
		width: 12px;
		height: 12px;
		border: 2px solid #0000ff;
		border-radius: 50%;
	}
}

.popup {
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0;
	z-index: -1;
	
	&.active {
		opacity: 1;
		z-index: 3;
	}
	
	.form {
		border-radius: 5px;
		box-shadow: 15px 16px 26px 3px rgba(0, 0, 0, 0.28);
		
		padding-top: 75rem;
		padding-bottom: 75rem;
		
		// @media @md {
		// 	padding-top: 50rem;
		// 	padding-bottom: 50rem;
		// }
		
		// @media @sm {
		// 	padding-top: 25rem;
		// 	padding-bottom: 25rem;
		// }
	}
	
	.icon.close {
		position: absolute;
		right: 30rem;
		top: 30rem;
		width: 15px;
		height: 15px;
		opacity: .5;
		cursor: pointer;
		
		&:hover {
			opacity: 1;
		}
		
		&:before,
		&:after {
			position: absolute;
			content: ' ';
			height: 2px;
			width: 20px;
			background-color: #9b9b9b;
		}
		&:before {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%) rotate(-45deg);
		}
	}
}

.form {
	flex-basis: auto;
	position: relative;
	// align-items: center;
	align-self: center;
	background-color: white;
	margin: 0;
	
	form {
		margin:0;
	}
	
	.btn {
		align-self: center;
	}
	
	label {
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom: 30rem;
		}
		
		span {
			// font-size: 14rem;
			color: rgb(127, 143, 164);
			margin-bottom: 5px;
		}
	}
	
	input {
		padding: 15px;
		font-size: 16rem;
		border: 1px solid #dfe3e9;
		border-radius: 4px;
		
		&:hover {
			border-color: @blue;
		}
	}
	
	.pdpa	{
		font-style: italic;
		
		i {
			text-decoration: underline;
		}
	}
}

#pdpa {
	font-size: 20rem;
	
	.form {
		height: 90vh;
		overflow-y: scroll;
	}
	
	.content > * {
		margin-bottom: 1.25em;
	}
}
