@xl: ~'(max-width: 1200px)';
@lg: ~'(max-width: 992px)';
@md: ~'(max-width: 768px)';
@sm: ~'(max-width: 576px)';

@bg: #13599f;

@media @xl {
	// max-width: 1200px
}
@media @lg {
	// max-width: 992px
}
@media @md {
	// max-width: 768px
}
@media @sm {
	// max-width: 576px
}


* {
	all: unset;
	box-sizing: border-box;
	display: flex;
	flex: none;
	flex-direction: column;
}

*::before,
*::after {
	all: unset;
	box-sizing: border-box;
}

head,
script {
	display: none;
}

html {
	height: 100%;
	font-size: 1px;
}

a[href],
button,
[type='button'] {
	&:hover {
		cursor: pointer;
	}
}

p,
span {
	display: inline-block;
	hyphens: auto;
}

main {
	flex-grow: 1;
}

.row {
	flex-direction: row;
}

body {
	height: 100%;
	font-family: "Nissan Brand";
	font-size: 22rem;
	font-weight: 400;
	line-height: 1.25;
	color: #343e46;
}

.link {
	text-decoration: underline;
}

body > header {
	padding-top: 50rem;
	
	.header {
		flex-direction: row;
		justify-content: space-between;
		
		> * {
			margin-bottom: 45rem;
		}
	}
	
	nav {
		ul {
			flex-direction: row;
			font-family: "Nissan Brand";
			font-size: 22rem;
			font-weight: 400;
			
			li:not(:last-child) {
				flex-direction: row;
				margin-bottom: 20rem;
				
				&::after {
					content: '•';
					padding-right: 14rem;
					padding-left: 14rem;
				}
			}
		}
		
		.link {
			color: #1775d1;
		}
	}
	
	.cell {
		.number {
			color: #0068e3;
			font-size: 30px;
			font-weight: 700;
		}
		.recall {
			color: #343e46;
			text-decoration: underline;
		}
	}
}

h2 {
	font-family: "Nissan Brand";
	font-size: 34rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 40rem;
}

h3 {
	color: #343e46;
	font-family: "Nissan Brand";
	font-size: 30rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35rem;
}

.btn {
	max-width: 390rem;
	width: 100%;
	// align-self: flex-start;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 25rem;
	color: white;
	font-size: 20rem;
	text-transform: uppercase;
	border-radius: 10px;
	background-image: linear-gradient(to top, #b10028, #f00030);
	box-shadow: 2px 2px 7px rgba(0, 0, 0, .35);
	
	&:hover {
		background-image: linear-gradient(to top, #f00030, #b10028);
	}
}

b {
	font-family: "Nissan Brand - Bold";
	font-weight: 700;
	display: inline;
}

section.top {
	padding-top: 60rem;
	padding-bottom: 80rem;
	color: white;
	background-color: @bg;
	background-image: url(../img/top.png);
	background-size: cover;
	
	h2 {
		align-self: flex-start;
	}
	
	.link {
		margin-bottom: 50rem;
	}
}

p, span {
	display: inline-block;
}

p {
	margin-bottom: 1em;
}

section.edu {
	padding-top: 90rem;
	
	h2 {
		align-self: center;
	}
	
	li {
		margin-bottom: .5em;
	}
}

blockquote {
	font-family: "Nissan Brand";
	font-size: 25rem;
	font-weight: bold;
	font-style: italic;
	color: #2c262a;
	margin-bottom: 35rem;
	
	&::before {
		content: '';
		background: url(../img/q.png) center center no-repeat;
		width: 56rem;
		height: 40rem;
		margin-bottom: 40rem;
	}
	&::after {
		content: '';
		align-self: flex-end;
		background: url(../img/sign.png) center center no-repeat;
		width: 186rem;
		height: 117rem;
		margin-bottom: 70rem;
	}
}

.teachers {
	.item {
		flex-direction: row;
		align-items: center;
		margin-bottom: 60rem;
		
		img {
			flex-shrink: 0;
		}
		.description {
			padding: 25rem;
			background-color: #ecf1f5;
			font-size: 18rem;
			
			p {
				margin-bottom: 0;
			}
		}
	}
}

h4 {
	font-family: "Nissan Brand";
	font-size: 21rem;
	font-weight: 700;
	text-transform: uppercase;
}

section.why {
	padding: 85rem 0;
	position: relative;
	background-color: @bg;
	color: white;
	overflow: hidden;
	
	&::before {
		position: absolute;
		top: -340rem;
		left: 800rem;
		content: '';
		width: 800rem;
		height: 800rem;
		background-color: #137af4;
		border-radius: 50%;
		opacity: 0.35;
	}
	
	ol {
		font-family: "Nissan Brand";
		font-size: 20rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 80rem;
		
		li {
			position: relative;
			flex-direction: row;
			align-items: center;
			
			&::before {
				position: absolute;
				// top: 0;
				left: 50%;
				color: #eeeded;
				opacity: 0.08;
				font-family: "Nissan Brand";
				font-size: 120rem;
				font-weight: 700;
				align-self: center;
			}
			
			&:not(:last-child)::after {
				position: absolute;
				content: '';
				width: 23px;
				height: 18px;
				background: svg-load('../img/arrow.svg');
				right: 35px;
				align-self: center;
			}
		}
	}
}

ol {
	counter-reset: i;
	li::before {
		counter-increment: i;
		content: '0' counter(i);
	}
}

.video {
	background: url(../img/video.png) top right 15px no-repeat ;
	background-size: contain;
	width: 519px;
	height: 341px;
}

section.for {
	padding-top: 80rem;
	
	ul {
		margin-bottom: 60rem;
		
		li {
			display: inline-block;
			margin-bottom: 1em;
			
			&::before {
				content: '— ';
			}
		}
	}
}

:not(.col-xl-6) h2 {
	align-self: center;
}

.btn-2 {
	.btn;
	background: #0068e3;
	align-self: center;
	
	&:hover {
		background: rgba(#1174e8, 0.91);
	}
}

section.pricelist {
	height: 420rem;
	color: white;
	background-color: #0068e3;
	// padding-bottom: 100rem;
	
	.package {
		padding: 30rem;
		padding-bottom: 50rem;
		// align-items: center;
		text-align: center;
		color: #434350;
		box-shadow: 15px 16px 26px 3px rgba(0, 0, 0, 0.28);
		background-color: #ffffff;
		margin-bottom: 50rem;
		
		del {
			color: #cdcdd1;
			font-size: 44rem;
			font-weight: 700;
			text-decoration: line-through;
			text-transform: uppercase;
		}
		
		.price {
			color: #0068e3;
			font-size: 50rem;
			font-weight: 700;
			text-transform: uppercase;
		}
		
		li {
			margin-bottom: 35rem;
		}
		
		.room {
			color: #0068e3;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}

.features {
	li {
		margin-bottom: 15rem;
		
	}
	li:nth-child(even) .item {
		color: white;
		background-color: #095aba;
	}
	.item {
		height: 100%;
		padding: 30rem;
		box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.18);
		background-color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		
		img {
			align-self: center;
			margin-bottom: 30rem;
		}
	}
}
